table, th, td {
	margin: auto;
	border:1px solid grey;
	font-size: 20px;
	width:70%;
	height:100px;
	text-align: left;
	padding: 30px;
	background: white;
}

#header {
	text-align: center;
	vertical-align: -20px
}

#search, #addInput{
	text-align: center;
}

#addInput{
	margin-right: -7px;
}

#background {
	position: fixed;
	background: lightgrey;
	width: 100%;
	height: 270px;
	z-index: -9999;
	margin:-8;
	padding:0;
}